.card {
  height: 100%;
  border-radius: 12px;
}

.card img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

/* Mobile view */
@media (max-width: 576px) {
  .card h3 {
    font-size: 16px;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 8px;
  }
}
