.card {
  height: 100%;
  border-radius: 12px;
}

.card img {
  width: 100%;
  aspect-ratio:2/3;
  object-fit: cover;
}



/* Mobile view */
@media (max-width: 576px) {
  .card img {
    height: 220px;
  }

  .card h3 {
    font-size: 16px;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 8px;
  }
}

/* Tablet view */
@media (max-width: 768px) {
  .card img {
    height: 260px;
  }
}
